@import 'tailwindcss';

/* All colors are here */
@theme {
  --color-primary: #c8402a;
}

/* Size of the Container */
@utility container {
  @apply mx-auto px-3.75 max-w-[1650px];
}


/* Size of the Common Box */
@utility common-box {
  @apply py-36;
}
