@import 'tailwindcss';

/* All Fonts and colors */
@theme {
  /* Colors */
  --color-primary: #e46729;
  --color-white: #ffffff;
  --color-black: #0c0c0c;
  --color-border: #d7d6d3;
  --color-body-bg: #1f0a00;
  --color-body: #ffffff;

  /* Font families */
  --font-family-primary: var(--primaryfont);
  --font-family-secondary: var(--secondaryfont);

  /* Custom Easing Functions for Tailwind CSS v4 */
  --ease-custom-1: cubic-bezier(0.5, 0.85, 0.25, 1.1);
  --ease-custom-2: cubic-bezier(0.5, 0.85, 0.25, 1.8);

  /* Background images */
  --background-image-hero-bg-2: url('/backgrounds/hero-bg-2.svg');
  --background-image-hero-bg: url('/backgrounds/hero-bg.svg');
}

@utility font-primary {
  font-family: var(--primaryfont);
}

@utility font-secondary {
  font-family: var(--secondaryfont);
}

/* Size of the Container */
@utility container {
  @apply mx-auto px-3.75 max-w-[1650px];
}

@utility common-box {
  @apply py-16 sm:py-20 2xl:py-32;
}

/* Body Style */
@layer base {
  body {
    @apply text-body bg-body-bg font-primary leading-[1.6];
  }
}

/* Hero section h1 title */
h1.hero-title {
  @apply text-[200px] leading-[1.1] font-semibold font-secondary;
}
